<!--
Foundation 6 navbar
-->


<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>


<div class="top-bar" id="example-menu">
<ul class="vertical medium-horizontal menu">
  <% unless user_signed_in? %>
      <li>
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Sign In", new_user_session_path %>
      </li>
  <% end %>
  <% if user_signed_in? %>
      <li>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </li>
      <% admins_only do %>
          <li>
            <%= link_to "Admin Lounge", admin_root_path %>
          </li>
      <% end %>
      <li><%= link_to "Books", books_path %></li>
      <li><%= link_to "Transactions", transactions_path %></li>
      <li><%= link_to "Events", events_path %></li>
      <li class="menu-text">User: <%= current_user.email %></li>
  <% end %>
</ul>
</div>

<!--
<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">IMS</li>
      <% unless user_signed_in? %>
      <li>
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Sign In", new_user_session_path %>
      </li>
      <% end %>
      <% if user_signed_in? %>
      <li>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </li>
        <% admins_only do %>
          <li>
            <%= link_to "Admin Lounge", admin_root_path %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% if user_signed_in? %>
    <div class="top-bar-right">
      <ul class="menu"><%= link_to "Books", books_path %></ul>
      <ul class="menu"><%= link_to "Transactions", transactions_path %></ul>
      <ul class="menu"><%= link_to "Events", events_path %></ul>
      <ul class="menu">
      <li class="menu-text">User: <%= current_user.email %></li>
      </ul>
    </div>
  <% end %>
</div>
-->