<div class="row">
  <span class="small-12 hide-for-medium columns"> Book </span>
  <span class="small-12 large-2 columns"> <%=transaction.book.code%></span>
  <span class="small-12 hide-for-medium  columns"> Initial Count </span>
  <span class="small-12 large-2 columns"> <%=transaction.initial_count%></span>
  <span class="small-2 hide-for-medium  columns"> End Count </span>
  <span class="small-12 large-2 columns"> <%=transaction.end_count%></span>
  <span class="small-2 hide-for-medium  columns"> Quantity</span>
  <span class="small-12 large-2 columns"> <%=transaction.quantity%></span>
  <span class="small-2 hide-for-medium columns"> Status </span>
  <span class="small-12 large-2 columns"> <%=transaction.status%></span>
  <span class="small-12 large-2 columns"><a href="<%= event_transaction_path(event,transaction) %>"><%=fa_icon "folder-open" %></a>
    | <a href="<%= edit_event_transaction_path(event,transaction) %>"><%=fa_icon "edit" %></a> |
    <a data-confirm="Are you sure?" data-method="delete" href="<%= event_transaction_path(event,transaction) %>"><%=fa_icon "times" %></a>
  </span>
</div>
