<!--<p id="notice"><%= notice %></p>-->
<%= render "shared/alert" %>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Coordinator:</strong>
  <%= @event.coordinator %>
</p>

<div class="row">
  <div class="row">
    <span class="show-for-large-only large-2 columns"> Book </span>
    <span class="show-for-large-only large-2 columns"> Initial Count </span>
    <span class="show-for-large-only large-2 columns"> End Count </span>
    <span class="show-for-large-only large-2 columns"> Quantity</span>
    <span class="show-for-large-only large-2 columns"> Status </span>
    <span class="show-for-large-only large-2 columns">  </span>
  </div>
  <% if !@transactions.nil? %>
    <% @transactions.each do |transaction| %>
      <%= render 'transaction', transaction: transaction, event:@event %>
    <% end %>
  <%end%>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<%= link_to  'Add Books', new_event_transaction_path(@event) %>
