
<%=form_for(transaction, url: url) do |f|%>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %>
        prohibited this book from being saved:
      </h2>
      <ul>
        <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :book %>
  <%= f.collection_select(:book_id, Book.all, :id, :code) %>
</div>

<div class="field">
  <%= f.label :activity %>
  <%= f.select(:activity, Transaction.activities.keys.map {|key| [key.capitalize,key]}, {}, onchange: "enableOptionalField(this)" ) %>
</div>

<div class=<%= transaction.consignment? ? "field" : "field_optional" %> >
  <%= f.label :suggested_count %>
  <%= f.number_field :suggested_count %>
</div>

<div class=<%= transaction.consignment? ? "field" : "field_optional" %> >
  <%= f.label :initial_count %>
  <%= f.number_field :initial_count %>
</div>

<div class=<%= transaction.consignment? ? "field" : "field_optional" %> >
  <%= f.label :end_count %>
  <%= f.number_field :end_count %>
</div>

<div class="field">
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
</div>

<div class="field">
  <%= f.label :status %>
  <%= f.select(:status, Transaction.statuses.keys.map {|key| [key.capitalize,key]}) %>
</div>

<div class="field">
  <%= f.label :sale_price %>
  <%= f.number_field :sale_price %>
</div>

<div class="field">
  <%= f.label :amount_paid %>
  <%= f.number_field :amount_paid %>
</div>

<div class="field">
  <%= f.label :pending_amount %>
  <%= f.number_field :pending_amount %>
</div>

<div class="field">
  <%= f.label :origin_location %>
  <%= f.text_field :origin_location %>
</div>

<div class="field">
  <%= f.label :final_location %>
  <%= f.text_field :final_location %>
</div>

<div class="field">
  <%= f.label :region %>
  <%= f.collection_select(:region, Region.all, :name, :name) %>
</div>

<div class="field">
  <%= f.label :bucket %>
  <%= f.collection_select(:bucket, Bucket.all, :name, :name) %>
</div>

<div class="field">
  <%= f.label :channel %>
  <%= f.collection_select(:channel, Channel.all, :name, :name) %>
</div>

<div class="field">
  <%= f.label :sub_channel %>
  <%= f.collection_select(:sub_channel, SubChannel.all, :name, :name) %>
</div>

<div class="field">
  <%= f.label :comments %>
  <%= f.text_field :comments %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
