
<h1>Edit Transaction</h1>

<%= render 'form', transaction: @transactions, url: url_for([@event,@transactions]) %>
<%= link_to 'Show', @transactions %> |
<% if @event.nil? %>
<%= link_to 'Back', transactions_path %>
<% else %>
<%= link_to 'Back', event_path(@event) %>
<% end %>
