<h1>Transactions</h1>



<div class="tabs-content" data-tabs-content="example-tabs">
  <ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">General</a></li>
    <li class="tabs-title"><a href="#panel2">Consignment</a></li>
  </ul>
  <div class="table-scroll tabs-panel is-active" id="panel1">
    <table class="stack">
      <thead>
      <tr>
        <th>Date</th>
        <th>Book Code</th>
        <th>Activity</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Event</th>
        <th>Bucket</th>
        <th>Channel</th>
        <th>SubChannel</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <% @transactions.select{|trans| !trans.consigment?}.each do |transaction| %>
          <tr>
            <td class="hide-for-large">Date:</td>
            <td><%=transaction.updated_at.to_date %></td>
            <td class="hide-for-large">Code:</td>
            <td><%=transaction.book.code %></td>
            <td class="hide-for-large">Activity:</td>
            <td><%=transaction.activity %></td>
            <td class="hide-for-large">Quantity:</td>
            <td><%=transaction.quantity%></td>
            <td class="hide-for-large">Status:</td>
            <td><%=transaction.status%></td>
            <td class="hide-for-large">Event:</td>
            <td><%=transaction.event.nil? ? "" : transaction.event.name %></td>
            <td class="hide-for-large">Bucket:</td>
            <td><%=transaction.bucket%></td>
            <td class="hide-for-large">Channel:</td>
            <td><%=transaction.channel%></td>
            <td class="hide-for-large">SubChannel:</td>
            <td><%=transaction.sub_channel%></td>
            <td><a href="<%= transaction_path(transaction.id) %>"><%=fa_icon "folder-open" %></a>
            | <a href="<%= edit_transaction_path(transaction.id) %>"><%=fa_icon "edit" %></a> |
              <a data-confirm="Are you sure?" data-method="delete" href="<%= transaction_path(transaction.id) %>"><%=fa_icon "times" %></a>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="table-scroll tabs-panel is-active" id="panel2">
    <table class="stack">
      <thead>
      <tr>
        <th>Date</th>
        <th>Book Code</th>
        <th>Suggested Count</th>
        <th>Initial Count</th>
        <th>End Count</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Event</th>
        <th>Bucket</th>
        <th>Channel</th>
        <th>SubChannel</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <% @transactions.select{|trans| trans.consignment?}.each do |transaction| %>
          <tr>
            <td class="hide-for-large">Date:</td>
            <td><%=transaction.updated_at.to_date %></td>
            <td class="hide-for-large">Code:</td>
            <td><%=transaction.book.code %></td>
            <td class="hide-for-large">Suggested Count:</td>
            <td><%=transaction.suggested_count%></td>
            <td class="hide-for-large">Initial Count:</td>
            <td><%=transaction.initial_count%></td>
            <td class="hide-for-large">End Count:</td>
            <td><%=transaction.end_count%></td>
            <td class="hide-for-large">Quantity:</td>
            <td><%=transaction.quantity%></td>
            <td class="hide-for-large">Status:</td>
            <td><%=transaction.status%></td>
            <td class="hide-for-large">Event:</td>
            <td><%=transaction.event.nil? ? "" : transaction.event.name %></td>
            <td class="hide-for-large">Bucket:</td>
            <td><%=transaction.bucket%></td>
            <td class="hide-for-large">Channel:</td>
            <td><%=transaction.channel%></td>
            <td class="hide-for-large">SubChannel:</td>
            <td><%=transaction.sub_channel%></td>
            <td><a href="<%= transaction_path(transaction.id) %>"><%=fa_icon "folder-open" %></a>
              | <a href="<%= edit_transaction_path(transaction.id) %>"><%=fa_icon "edit" %></a> |
              <a data-confirm="Are you sure?" data-method="delete" href="<%= transaction_path(transaction.id) %>"><%=fa_icon "times" %></a>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
