<h1>Transaction</h1>
<%= render "shared/alert" %>

<div class="">
  <p>
    <span>Book Code</span>
    <%= @transactions.book.code %>
  </p>
  <p>
    <span>quantity</span>
    <%= @transactions.quantity %>
  </p>
  <p>
    <span>Issued By</span>
    <%= @transactions.issued_by %>
  </p>
  <p>
    <span>Created Time</span>
    <%= @transactions.created_at %>
  </p>
  <p>
    <span>Updated Time</span>
    <%= @transactions.updated_at %>
  </p>
</div>
<% if @event.nil? %>
<%= link_to 'Transactions', transaction_url %> |
<%= link_to 'Edit', edit_transaction_path(@transactions)%>
<% else %>
<%= link_to @event.name, event_path(@event) %> |
<%= link_to 'Edit', edit_event_transaction_path(@event,@transactions)%>
<% end %>