<p id="notice"><%= notice %></p>

<h1>Sub Channels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_channels.each do |sub_channel| %>
      <tr>
        <td><%= sub_channel.name %></td>
        <td><%= link_to 'Show', sub_channel %></td>
        <td><%= link_to 'Edit', edit_sub_channel_path(sub_channel) %></td>
        <td><%= link_to 'Destroy', sub_channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Channel', new_sub_channel_path %>
